.box{
    height: 50vh;
    width: 30vw;
    border: solid black;
    overflow:auto;
  }
  
  .progress{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .rowDescription{
    display: flex;
    justify-content: space-around;
    align-items: center;  
  }
  
  .form{
    display: flex;
    justify-content: space-around;
    align-items: center;  
  }